<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Data de cadastro</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/AAAA – MM/DD/AAAA</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="true">Ativo</mat-option>
      <mat-option value="false">Inativo</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button>Filtrar</button>
</form>
